
  <div class="container">
    <div class="rotator">
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.09.49 AM.jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.10.01 AM.jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.11.06 AM.jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.11.07 AM (1).jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.11.07 AM.jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/WhatsApp Image 2023-06-08 at 8.11.08 AM.jpeg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/pexels-suzy-hazelwood-1373748.jpg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/pexels-designecologist-887352.jpg" alt="items photo" /></div>
      <div class="items"><img src="../../assets/pexels-anna-shvets-5069431.jpg" alt="items photo" /></div>
    </div>
  </div>
  
