<div class="butterfly-large"></div>
<img src="../../assets/PhotoRoom-20230623_133705.png" alt="Logo de la empresa" class="logo">
<div class="container dancing-script-font">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <h1 class="text-shadow text-center">As-Lun Escuela de belleza</h1>
  
  <h2 class="text-shadow">Aprende los mejores consejos y técnicas de belleza.</h2>

  <div class="contact-info">
    <div class="services">
      <h2 class="text-shadow">Nuestros servicios</h2>
      <ul class="list-unstyled">
        <li class="text-shadow">Cursos de maquillaje</li>
        <li class="text-shadow">Manicuría profesional</li>
        <li class="text-shadow">Curso alisado y bótox</li>
        <li class="text-shadow">Tratamientos faciales</li>
        <li class="text-shadow">Depilación láser</li>
        <li class="text-shadow">Microneedling</li>
      </ul>
    </div>

    <div class="video-container">
      <div class="video">
        <iframe id="video-frame" src="../../assets/WhatsApp Video 2023-06-23 at 11.36.06 AM.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay  controls="false"></iframe>
        <button id="sound-toggle" onclick="toggleSound()" class="rounded-button">Activar sonido</button>
      </div>
    </div>


      
      
    
  </div>
  <div class="butterfly-small"></div>
</div>


